@import "../../variables.less";

.tags {
  &--tablet {
    display: none;

    @media @tablet {
      display: block;
      margin: 40px 40px 30px;
      text-align: center;
    }
  }

  &__element {
    display: inline-block;
    position: relative;
    padding: 2px 17px 2px 14px;
    margin: 0 11px 4px 0;
    background: @decor-dark;
    color: #fff;
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: -11px;
      top: 0;
      border-left: 11px solid @decor-dark;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 7px;
      right: -2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
    }
    &:hover {
      cursor: pointer;
      background: darken(@decor-dark, 5%);
      &::before {
        border-left: 11px solid darken(@decor-dark, 5%);
      }
    }
  }
}