@import "../../variables.less";

.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
  width: 100%;
  transition: all .5s ease-in-out;
}