@import "../../variables.less";

.social {
  &__count {
    position: relative;
    top: -4px;
  }

  &__element {
    display: inline-block;
  }

  &__icon {
    width: 1.3rem;
    height: 100%; // 1.4rem;
    vertical-align: -15%;
    fill: #fff;
  }

  &__link {
    display: inline-block;
    padding: 0 10px 0 0;
    //width: 3rem;
    height: 1.5rem;
    text-decoration: none;
    border-radius: 3px;
    background: @decor-color;
    color: #fff;
    opacity: .5;
    &:hover {
      box-shadow: 0 0 1px @font-color;
      opacity: .7;
    }

    &--facebook:hover {
      background: #3b5998;
    }

    &--gplus:hover {
      background: #dd4b39;
    }

    &--twitter:hover {
      background: #00aced;
    }

    &--vk:hover {
      background: #45668e;
    }

    &--yaru:hover {
      background: #f00;
    }
  }
}