@import "../../variables.less";

.logo {
  height: 4.4rem;
  line-height: 4.4rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2 * @baseFontSize;
  font-family: @header-font;
  font-weight: bold;
  text-decoration: none;
  color: @theme-color;
}