@import "../../variables.less";

.logo {
  padding: 17px 0 14px;
  width: 375px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.2 * @baseFontSize;
  font-family: "Trend-Sans-One", Arial, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: @theme-color;
  letter-spacing: 2px;

  @media @mobile {
    height: 53px;
    width: 320px;
    line-height: 53px;
    font-size: 1.5 * @baseFontSize;
    padding: 0;
  }

  &__svg {
    width: 3.7rem;
    height: 3.7rem;
    vertical-align: middle;
    border-radius: 50%;
    background: @theme-color;
    fill: #fff;
    margin: -3px -15px 0;

    @media @mobile {
      width: 2.125rem;
      height: 2.125rem;
      font-size: 1.5 * @baseFontSize;
      margin: -3px -10px 0;
      use {
        transform: scale(.6);
      }
    }
  }
}