@import "../../variables.less";

.center-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  &__content {
    margin-right: 30px;
  }

  &__aside {
    width: 280px;
  }
}

@media screen and (max-width: 1000px) {
  .center-block {
    &__aside {
      display: none;
    }
  }
}