@import "../../variables.less";

.center-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  &__content {
    margin-right: 28px;
  }

  &__aside {
    width: 255px;
  }
}

@media @tablet {
  .center-block {
    &__aside {
      display: none;
    }
  }
}