@theme-color: #6B9AD0;
@theme-shadow-color: #c6defa;
@font-color: #69747c;
@decor-color: #A6AAAD;
@decor-dark: #6492B6;
@baseFontSize: 1rem;
@main-font: "PT Sans Narrow";
@header-font: "Josefin Sans";

// Mode: Tablet
@tablet: ~"screen and (max-width: 1000px)";

// Mode: Mobile
@mobile: ~"screen and (max-width: 320)";