@import "../../variables.less";

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: @header-font;
  width: 100%;
  background: @theme-color;
  box-shadow: 0 4px 0 @theme-shadow-color;

  @media @mobile {
    height: 34px;
    box-shadow: none;
  }

  &--mobile {
    display: none;

    @media @mobile {
      display: flex;
      //margin-top: -40px;
      flex-direction: column;
      height: 0;
      overflow: hidden;
      box-shadow: none;
      transition: height 0.5s ease-in-out;
    }
  }

  &__element {
    @media @tablet {
      width: 12%;
    }

    @media @mobile {
      display: none;

      &:last-child > .navigation__link {
        border: none;
      }

      &:hover {
        background: @theme-shadow-color;
      }
    }

    &--mobile {
      display: block;
      width: 100%;
      background: @mobile-menu-color;
    }
  }

  &__link {
    display: inline-block;
    padding: 19px 33px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      background: #5d88b9;
      &::after {
        border-top: 8px solid #5d88b9;
      }
    }

    @media @tablet {
      padding: 19px 0;
      width: 100%;
      text-align: center;
    }

    @media @mobile {
      margin: 0 5%;
      width: 90%;
      padding: 9px 0;
      border-bottom: 1px solid #fff;
      color: @theme-color;
      font-weight: bold;

      &:hover {
        background: none;
      }
    }

    &--active {
      position: relative;

      @media @mobile {
        background: radial-gradient(#fff 0%, rgba(174, 196, 220, 0) 50%);

        &:hover {
          background: radial-gradient(#fff 0%, rgba(174, 196, 220, 0) 50%);
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 53px;
        left: ~"calc(50% - 10px)";
        width: 0;
        height: 0;
        border-top: 8px solid @theme-color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        @media @mobile {
          display: none;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 57px;
        left: ~"calc(50% - 10px)";
        width: 0;
        height: 0;
        border-top: 8px solid @theme-shadow-color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        @media @mobile {
          display: none;
        }
      }
    }
  }

  &__icon-menu {
    width: 34px;
    height: 34px;
    fill: @mobile-menu-color;
  }

  &__symbol {
    display: none;

    @media @mobile {
      display: block;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 0;
      top: 0;

      &::after {
        content: '';
        z-index: 2;
        display: block;
        position: absolute;
        top: 32px;
        left: ~"calc(50% - 10px)";
        width: 0;
        height: 0;
        border-top: 0 solid @theme-color;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        transition: border .2s;
      }

      &:hover {
        cursor: pointer;

        &::after {
          border-top: 8px solid @theme-color;
        }

        &::before {
          border-top: 8px solid @theme-shadow-color;
        }
      }
    }
  }
}